.aside-nav-list-item {
    display: flex;
    list-style: none;
    gap: 1em;
    align-items: center;
    padding: 0.5em;
    
  }
  
  .aside-nav-list-item svg {
      width: 26px; 
      height: 32px; 
      margin-right: 8px;
  }
  
  
  .aside-nav-list-item a {
    text-decoration: none;
    color: #fff;
  }
  
  .aside-nav-list-item:last-child {
    /* margin-top: auto; */
  }