.steps-demo-section {
  padding-bottom: 100px;
  padding-inline: 10px;
  padding-top: 100px;
}

.steps-demo-div-wrapper {
  
  position: relative;
}


.steps-demo-div-content {
  border-radius: 20px;
  background: #284b63;
  padding: 50px;
  position: relative;
  color: white;
  z-index: 10;
  color: #d9d9d9;

  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 60rem;
  /* transition: max-height 1s ease-in-out; */

}
.steps-demo-div-content h1{
    font-size: 64px;
}

.steps-demo-div-wrapper-border {
  position: absolute;
  background-color: aqua;
  height: 100%;
  width: 100%;

  
  border-radius: 20px;
  border: 4px solid #353535;

  bottom: -30px;
  right: -30px;

  background: rgba(53, 53, 53, 0);

  filter: blur(2px);
}

.steps-demo-div-info{
  align-items: start;
  justify-content: center;
  height: auto;
}

.steps-demo-div-info ul{
  width: 20rem;
}

.steps-demo-div-info img{
    
width: 20rem;
}

@media only screen and (max-width:  768px) {
  .steps-demo-div-content{
    width: 100%;
  }
  .steps-demo-section {
    padding:0;
  }
  .steps-demo-div-wrapper-border{
    display: none;
  }
  .steps-demo-div-info{
    flex-direction: column;
    align-items: center;
  }
}
.steps-demo-pill-svg{
  color: white;
  position: absolute;
  height: 2.5rem;

}
.steps-demo-pill-svg:nth-child(1){
  top: 5px;
  left: 5px;
}

.steps-demo-pill-svg:nth-child(2){
  bottom: 5px;
  right: 5px;
}