.aside-navigation-container {
  display: flex;
  background-color: #284b63;
  color: #fff;
  flex: 1 1 auto;
  max-width: 300px;
  font-size: 24px;
  border-radius: 0.8em;

}
.aside-nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  margin: 0;
  padding: 1em 1.5em 0 1.5em;
}

.aside-nav-list-item {
  display: flex;
  list-style: none;
  gap: 1em;
  align-items: center;
  padding: 0.5em;
  
}

.aside-nav-list-item svg {
    width: 26px; 
    height: 32px; 
    margin-right: 8px;
}


.aside-nav-list-item a {
  text-decoration: none;
  color: #fff;
}

.aside-nav-list-item:last-child {
  position: absolute;
  bottom: -100px;
}
