.main{
    max-width: 1920px;
    max-height: 905px;
    min-height: 400px;
    padding: 1em;
    /* background-color: #D9D9D9; */
    background: linear-gradient(180deg, rgba(40, 75, 99, 0.38) 52.6%, #284B63 100%), #FFF;
    display: flex;
    justify-content: center;
    column-gap: 10em;
}

.div-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-content h2{
    font-size: 80px;
}

.div-content p{
    font-size: 30px;
}

.div-content button{
    width: 140px;
    height: 40px;
    border-style: none;
    border-radius: 5em;
    background-color: #3C6E71;
    color: #ffffff;
    font-weight: bold;
}

.div-pils img{
    width: 410px;
    height: 350px;
}