.main{
    max-width: 1920px;
    height: 600px;
    padding: 1em;
    background: linear-gradient(180deg, rgba(40, 75, 99, 0.38) 52.6%, #284B63 100%), #FFF;
    display: flex;
    justify-content: center;
    column-gap: 15em;
}

.div-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-content h2{
    font-size: 80px;
}

.div-content p{
    font-size: 30px;
}

.div-content button{
    width: 140px;
    height: 40px;
    border-style: none;
    border-radius: 5em;
    background-color: #3C6E71;
    color: #ffffff;
    font-weight: bold;
}

.div-content button:hover{
    background-color: #ffffff;
    color: #3C6E71;
}

.div-pils {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-pils img{
    width: 450px;
    height: 420px;
}