.container-404 {
  height: 100vh;
  width: 100%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-404 button {
  color: black;
  text-decoration: underline;
}
