.form-container {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  width: 27em;
  min-height: 30em;
  padding: 2em;
  background-color: #284b63;
  border-radius: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.confirm {
  background-color: #3c6e71;
  border: none;
  margin-top: 10px;
  margin-right: 20px;
}

.confirm:hover {
  background-color: rgb(246, 252, 207, 0.8);
  color: #284b63;
}

.confirm:disabled {
  background-color: darkgray;
}
.reject {
  margin-top: 10px;
  margin-right: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.button-container {
  margin-top: 75px;
}

::placeholder {
  font-size: 0.8em;
}

.error-input {
  border: none;
  background-color: #ffcaca;
  box-shadow: 0px 0px 0px 1px #ff4d4d inset;
}

.form-container select {
  font-size: 0.8em;
}
