.form-container {
    display: flex;
    flex-direction: column;
    
    flex-basis: 25%;
    max-width: 30em;
    min-height: 30em;
    padding: 2em;
    background-color: #284b63 ;
    border-radius: 0.5em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}


.confirm {
    background-color: #3c6e71;
    border: none;
    margin-top: 10px;
    margin-right: 20px;
}

.reject {
    margin-top: 10px;
    margin-right: 20px; 
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button-container {
    margin-top: 75px;
}

