.div-benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    background-color: #284B63;
    padding: 2em;
    margin-top: 1em;
}

.section-benefits{
    display: flex;
    flex-wrap: wrap;
}

.section-benefits article{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid white;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 3em;
}

.title-info{
    display: flex;
    column-gap: 1.5em;
}

.title-info i{
    font-size: 1.8em;
    align-self: center;
    color: white;
}

.section-benefits article:first-child{
    border: 0;
}

.section-benefits article:nth-child(4){
    border: 0;
}

.div-benefits h2{
    color: white;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.title-info h3{
    color: white;
}
.section-benefits article p{
    color: white;
}

@media(max-width: 800px){
    .section-benefits{
        flex-direction: column;
    }

    .section-benefits article{
        border-left: none;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 1em;
    }

    .section-benefits article:first-child{
        border-bottom: 1px solid #ffffff;
    }

    .section-benefits article:last-child{
        border-bottom: none;
    }

    .div-benefits h2{
        text-align: center;
    }
}