.main-dashboard-section {
  padding: 1em 0;
  margin: 0 auto;
  max-width: 1700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  column-gap: 4.5em;
  
}

.main-dashboard-section-content {
  display: flex;
  column-gap: 1em;
}

@media (max-width: 768px){
  .main-dashboard-section{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    right: 0;
    
  }
  .main-dashboard-section-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

}
