@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  font-family: "Poppins", sans-serif;
  background-color: #24262b;
  padding-top: 1.7em;
  margin-top: 1em;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.footer-col {
  list-style: none;
  align-self: flex-start;
}

.ul-list-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  margin-left: 6rem;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  /* left: 0; */
  bottom: -10px;
  background-color: #3c6e71;
  height: 2px;
  box-sizing: border-box;
  width: 140px;
  z-index: 5;
}

.footer-col .social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one-line {
  display: flex;
  flex-direction: row;
}

.footer-col .social-links a {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 800px) {
  .footer-col {
    margin-bottom: 30px;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
