.section-openPerscription {
  background-color: #d9d9d9;
  padding: 2em;
  max-width: 920px;
  border-radius: 10px;
  flex: 1;
  margin-left: 1rem;
  position: relative;
}

.div-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 700px;
  max-height: 900px;
  background-color: #ffffff;
}

.div-header {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
}

.div-header-mainTitile {
  text-transform: uppercase;
}

.div-header-title {
  font-size: 27px;
  font-weight: 200;
}

.div-articels {
  width: 100%;
  border-bottom: 1px solid black;
  max-height: 500px;
  overflow: scroll;
}

#div-articels-accordion {
  width: 100%;
}

.div-articels-accordion-item-span {
  font-size: 20px;
  font-weight: bold;
  margin-right: 7px;
}

.div-articels-accordion-item-content {
  margin-left: 12px;
}

.div-userInfo {
  width: 100%;
  padding: 10px 15px 10px 15px;
}

.ingridients {
  color: #284b63;
  font-weight: 700;
}
.div-articels-accordion-item-content button {
  margin-right: 5px;
}

::-webkit-scrollbar {
  display: none;
}

.prescription-btn {
  background-color: #3c6e71;
  border: none;
}

.prescription-btn:hover {
  background-color: rgb(246, 252, 207, 0.8);
  color: #284b63;
  box-shadow: #3c6e71 0px 1px 3px 0px, #3c6e71 0px 0px 0px 1px;
}
