@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


.accordion {
  font-family: Inter, sans-serif;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem ;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;
  /* transition: max-height 1s ease-in-out; */

}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h4 {
  font-weight: 600;
  margin: 0;  
  color: #0d0d0d;
}

.accordion p {
  display: none;
  margin-bottom: 0;
  font-family: Inter, sans-serif;  
  color: #9c9d9d;
}

.accordion.open {
  border: 0.02rem solid #009dff;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;  
  border-top: 0.5rem solid #000;
  border-bottom: 0;
  transition: 0.3s;
  border-radius: 35%;
}

.accordion.open p{
  display: block;
}

.accordion.open .title .arrow-down{
  transform: rotate(180deg);
  border-top-color: #009dff;
}

.steps-accordion-icon{
  font-size: 30px;
  margin-right: 20px;
}

.accordion:hover .steps-accordion-icon{
  color: #78D6C6;
}
.open .steps-accordion-icon{
  color: #78D6C6;
}