.profile-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-block: 0.5rem;
  /* border: 2px solid #3c6e71; */
  border-radius: 20px;
  background-color: #d9d9d9;
  margin-left: 1rem;
  /* margin: 0 auto; */
  /* margin-top: 10px; */
  overflow: scroll;
}

.profile-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 7px solid #3c6e71; */
  /* border-radius: 15px; */
  margin: 10px;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.user-profile::-webkit-scrollbar {
  display: none;
}

#close {
  position: absolute;
  right: 80px;
  font-size: 20px;
  color: black;
  padding: 0;
  background-color: #ffffff;
}

.user-profile i {
  margin-top: 10px;
  font-size: 100px;
  background-color: #3c6e71;
  color: #ffffff;
  padding: 20px;
  border-radius: 30px;
}

.content {
  width: 600px;
  height: 550px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #3c6e71;
  border-radius: 5px;
  padding: 1em;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.content-item {
  /* border-bottom: 1px solid #78D6C6; */
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
  transition: 2s;
}

.content-item-edit {
  border-bottom: 1px solid #78d6c6;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  transition: 2s;
}

.content-item-update {
  display: flex;
  justify-content: space-between;
}

.content-item-update button {
  background-color: #78d6c6;
  padding: 5px;
  font-size: 13px;
  border-radius: 5px;
  align-self: center;
}

.content-item-update button:hover {
  color: #ffffff;
}

.content-item span {
  color: rgba(128, 128, 128, 0.706);
  font-size: 15px;
}

.content-item p {
  font-size: 22px;
  font-weight: 400;
}

.user-profile-cls-btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #3c6e71;
  color: #ffffff;
  margin-block: 10px;
}

.search-collection-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .profile-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 2px solid #3c6e71; */
    border-radius: 20px;
    background-color: #d9d9d9;
    margin: 0 1rem 6rem 1rem;
    /* margin: 0 auto; */
    /* margin-top: 10px; */
    /* overflow: scroll; */
  }
}
