@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.prescriptions-list-div p {
  margin: 0;
}

.prescriptions-list-div {
  background-color: #d9d9d9;
  display: inline-block;
  gap: 10px;
  padding: 30px 20px;
  border-radius: 10px;
  overflow: scroll;
  /* overflow-x: visible;
  overflow-y: auto; */
  width: 350px;
  height: 827px;
}

.prescriptions-list-div::-webkit-scrollbar {
  display: none;
}

.prescriptions-list-item {
  background-color: white;
  height: 6em;
  width: 19em; /* Fixed width for each item */
  padding: 10px;
  border-radius: 10px;
  color: #284b63;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.prescriptions-list-item:hover {
  cursor: pointer;
  background-color: #ffffffc9;
}

.prescriptions-list-item-content-item {
  font-size: 15px;
}

.prescriptions-list-item span {
  overflow: hidden;
  color: #284b63;
  text-align: justify;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.prescriptions-list-item svg {
  color: #284b63;
  width: 15px;
  height: 24px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .prescriptions-list-div {
    max-height: 100%;
    display: block;
  }
  .prescriptions-list-div {
    width: auto;
  }
  .prescriptions-list-item {
    height: auto;
    width: auto;
  }
}
