.prescriptions-list-div p {
  margin: 0;
}
.prescriptions-list-div {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  width: 350px;
  border-radius: 10px;
  margin: 20px;
}
.prescriptions-list-div .prescriptions-list-item div{
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.prescriptions-list-item {
  background-color: white;
  width: 350px;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  color: #284b63;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prescriptions-list-item span {
  overflow: hidden;
  color: #284b63;

  text-align: justify;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.prescriptions-list-item svg {

  color: #284b63;
  width: 17.214px;
  height: 27.76px;
}

@media only screen and (max-width: 600px) {
  .prescriptions-list-div {
    width: auto;
  }
  .prescriptions-list-item {
    width: 100%;
  }
}
