.passion-section{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    flex-grow: 1;
}

.title{
    margin-left: 6em;
    text-align: center;
    padding: 2em;
    border-radius: 10px;
}

.title h3{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.title p{
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.carusel {
    width: 100%;
    height: 100%;
}

.imgCarusel {
    z-index: 2;
    width: 100%;
    height: 600px;
    object-fit: cover;

}

.content {
    background-color: #d9d9d99e;
    border-radius: 1em;
    color: black;
    font-family: Inter, sans-serif;
}

.content h3 {
    margin-right: 0;
    color: #3c6e71;
}

.content ul{
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}


@media (min-width: 1921px){
    .passion-section{
        margin-top: 5rem;
    }

}